<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/unnamed.gif"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>
      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Shani Cohen</h3>
      </div>
      <div class="text-center">My First Ever MEAN App :)</div>
      <div class="text-center">
        <a href="https://www.linkedin.com/in/shani-cohen-145432111/">my linkedIn</a>
      </div>
    </div>
  </div>
</div>
